devopsuacDF/PartialArmTemplates/ArmTemplate_3_11_2020_12_12_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "devopsuacDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DevopsUacPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DevopsUacCopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Type": "application/json"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "REST_Get_Task_Definitions",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "StbTestUacOutputJson",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/REST_Get_Task_Definitions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIT_to_UAC_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Task_Properties_Directory",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "BLOB_Task_Properties_Tmp",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Task_Property_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Task_Properties_Directory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Task_Properties_Directory').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get_Task_Property_File_Metadata",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "Set_Task_name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BLOB_Task_Properties",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@replace(item().name, ' ', '')",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "If_Not_New_Changes",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get_Task_Property_File_Metadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@less(activity('Get_Task_Property_File_Metadata').output.lastModified, getPastTime(3, 'Minute'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set_Request_Body",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Get_Task_Properties",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "RequestBody",
													"value": {
														"value": "@activity('Get_Task_Properties').output.value",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Get_Task_Properties",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														}
													},
													"dataset": {
														"referenceName": "BLOB_Task_Properties",
														"type": "DatasetReference",
														"parameters": {
															"FileName": {
																"value": "@replace(variables('TaskName'), ' ', '')",
																"type": "Expression"
															}
														}
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "Create_New_Task_Version",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Check_Task_Existence",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@variables('Url')",
														"type": "Expression"
													},
													"method": "PUT",
													"headers": {
														"Content-Type": "application/json"
													},
													"body": {
														"value": "@string(variables('RequestBody')[0])",
														"type": "Expression"
													},
													"linkedServices": [
														{
															"referenceName": "UacRestService2",
															"type": "LinkedServiceReference"
														}
													],
													"datasets": [],
													"authentication": {
														"type": "Basic",
														"username": "ops.admin",
														"password": {
															"type": "AzureKeyVaultSecret",
															"store": {
																"referenceName": "AzureKeyVault1",
																"type": "LinkedServiceReference"
															},
															"secretName": "devopsuac"
														}
													}
												}
											},
											{
												"name": "Create_New_Task",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Check_Task_Existence",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@variables('Url')",
														"type": "Expression"
													},
													"method": "POST",
													"body": {
														"value": "@string(variables('RequestBody')[0])",
														"type": "Expression"
													},
													"linkedServices": [],
													"datasets": [],
													"authentication": {
														"type": "Basic",
														"username": "ops.admin",
														"password": {
															"type": "AzureKeyVaultSecret",
															"store": {
																"referenceName": "AzureKeyVault1",
																"type": "LinkedServiceReference"
															},
															"secretName": "devopsuac"
														}
													}
												}
											},
											{
												"name": "Check_Task_Existence",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Set_Request_Body",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat(variables('GetURI'),variables('TaskName'))",
														"type": "Expression"
													},
													"method": "GET",
													"headers": {
														"Content-Type": "application/json"
													},
													"linkedServices": [],
													"datasets": [],
													"authentication": {
														"type": "Basic",
														"username": "ops.admin",
														"password": {
															"type": "AzureKeyVaultSecret",
															"store": {
																"referenceName": "AzureKeyVault1",
																"type": "LinkedServiceReference"
															},
															"secretName": "devopsuac"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Set_Task_name",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TaskName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"TaskName": {
						"type": "String"
					},
					"Url": {
						"type": "String",
						"defaultValue": "http://uacdevops2ip.westeurope.cloudapp.azure.com:8080/opswise/resources/task"
					},
					"RequestBody": {
						"type": "Array"
					},
					"GetURI": {
						"type": "String",
						"defaultValue": "http://uacdevops2ip.westeurope.cloudapp.azure.com:8080/opswise/resources/task?taskname="
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BLOB_Task_Properties_Tmp')]",
				"[concat(variables('factoryId'), '/datasets/BLOB_Task_Properties')]",
				"[concat(variables('factoryId'), '/linkedServices/UacRestService2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UAC_to_GIT_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Task_Definitions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "POST",
								"requestBody": "{\n    \"name\":\"*\"\n}",
								"additionalHeaders": {
									"Content-Type": "application/json"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true,
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "UacDevopsBlobStorage",
									"type": "LinkedServiceReference"
								},
								"path": "uacdevops/TasksDefinitions",
								"enableCompression": true
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['sysId']"
										},
										"sink": {
											"name": "sysId"
										}
									},
									{
										"source": {
											"path": "$['type']"
										},
										"sink": {
											"name": "type"
										}
									},
									{
										"source": {
											"path": "$['version']"
										},
										"sink": {
											"name": "version"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "REST_Get_Task_Definitions",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "BLOB_Task_Definitions",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Tasks_Lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy_Task_Definitions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"dataset": {
								"referenceName": "BLOB_Task_Definitions",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Task",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Tasks_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Tasks_Lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_Task_Properties",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "REST_Get_Task_Properties",
											"type": "DatasetReference",
											"parameters": {
												"TaskName": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BLOB_Task_Properties",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@replace(item().name, ' ', '')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Merge_Task_Properties_Files",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "For_Each_Task",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true,
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BLOB_Task_Properties_Tmp",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "BLOB_Task_Properties_Merged",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "TaskProperties.json"
								}
							}
						]
					}
				],
				"variables": {
					"TaskDefinitions": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/REST_Get_Task_Definitions')]",
				"[concat(variables('factoryId'), '/datasets/BLOB_Task_Definitions')]",
				"[concat(variables('factoryId'), '/datasets/BLOB_Task_Properties_Tmp')]",
				"[concat(variables('factoryId'), '/datasets/BLOB_Task_Properties_Merged')]",
				"[concat(variables('factoryId'), '/datasets/REST_Get_Task_Properties')]",
				"[concat(variables('factoryId'), '/datasets/BLOB_Task_Properties')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_Task_Definitions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UacDevopsBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TaskDefinitions.json",
						"folderPath": "TaskDefinitions",
						"container": "uacdevops"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"description": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"sysId": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"version": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_Task_Properties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UacDevopsBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{dataset().FileName}.json",
							"type": "Expression"
						},
						"folderPath": "TaskProperties",
						"container": "uacdevops"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"type": {
							"type": "string"
						},
						"actions": {
							"type": "object",
							"properties": {
								"abortActions": {
									"type": "array"
								},
								"emailNotifications": {
									"type": "array"
								},
								"setVariableActions": {
									"type": "array"
								},
								"snmpNotifications": {
									"type": "array"
								},
								"systemOperations": {
									"type": "array"
								}
							}
						},
						"cpDuration": {
							"type": "null"
						},
						"cpDurationUnit": {
							"type": "string"
						},
						"customField1": {
							"type": "object",
							"properties": {
								"label": {
									"type": "null"
								},
								"value": {
									"type": "null"
								}
							}
						},
						"customField2": {
							"type": "object",
							"properties": {
								"label": {
									"type": "null"
								},
								"value": {
									"type": "null"
								}
							}
						},
						"efDayConstraint": {
							"type": "string"
						},
						"efDuration": {
							"type": "string"
						},
						"efEnabled": {
							"type": "boolean"
						},
						"efNthAmount": {
							"type": "integer"
						},
						"efTime": {
							"type": "string"
						},
						"efType": {
							"type": "string"
						},
						"exclusiveTasks": {
							"type": "array"
						},
						"executionRestriction": {
							"type": "string"
						},
						"holdResources": {
							"type": "boolean"
						},
						"lfDayConstraint": {
							"type": "string"
						},
						"lfDuration": {
							"type": "string"
						},
						"lfEnabled": {
							"type": "boolean"
						},
						"lfNthAmount": {
							"type": "integer"
						},
						"lfTime": {
							"type": "string"
						},
						"lfType": {
							"type": "string"
						},
						"lsDayConstraint": {
							"type": "string"
						},
						"lsDuration": {
							"type": "string"
						},
						"lsEnabled": {
							"type": "boolean"
						},
						"lsNthAmount": {
							"type": "integer"
						},
						"lsTime": {
							"type": "string"
						},
						"lsType": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"notes": {
							"type": "array"
						},
						"opswiseGroups": {
							"type": "array"
						},
						"resPriority": {
							"type": "integer"
						},
						"resolveNameImmediately": {
							"type": "boolean"
						},
						"restrictionPeriod": {
							"type": "string"
						},
						"restrictionPeriodAfterDate": {
							"type": "null"
						},
						"restrictionPeriodAfterTime": {
							"type": "null"
						},
						"restrictionPeriodBeforeDate": {
							"type": "null"
						},
						"restrictionPeriodBeforeTime": {
							"type": "null"
						},
						"restrictionPeriodDateList": {
							"type": "array"
						},
						"retainSysIds": {
							"type": "boolean"
						},
						"sleepAmount": {
							"type": "string"
						},
						"sleepDayConstraint": {
							"type": "string"
						},
						"sleepDuration": {
							"type": "string"
						},
						"sleepTime": {
							"type": "string"
						},
						"sleepType": {
							"type": "string"
						},
						"startHeld": {
							"type": "boolean"
						},
						"startHeldReason": {
							"type": "null"
						},
						"summary": {
							"type": "string"
						},
						"sysId": {
							"type": "string"
						},
						"timeZonePref": {
							"type": "string"
						},
						"userEstimatedDuration": {
							"type": "null"
						},
						"variables": {
							"type": "array"
						},
						"version": {
							"type": "integer"
						},
						"virtualResources": {
							"type": "array"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_Task_Properties_Merged')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UacDevopsBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "TaskProperties/Merged",
						"container": "uacdevops"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"description": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"sysId": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"version": {
							"type": "integer"
						},
						"actions": {
							"type": "object",
							"properties": {
								"abortActions": {
									"type": "array"
								},
								"emailNotifications": {
									"type": "array"
								},
								"setVariableActions": {
									"type": "array"
								},
								"snmpNotifications": {
									"type": "array"
								},
								"systemOperations": {
									"type": "array"
								}
							}
						},
						"cpDuration": {
							"type": "null"
						},
						"cpDurationUnit": {
							"type": "string"
						},
						"customField1": {
							"type": "object",
							"properties": {
								"label": {
									"type": "null"
								},
								"value": {
									"type": "null"
								}
							}
						},
						"customField2": {
							"type": "object",
							"properties": {
								"label": {
									"type": "null"
								},
								"value": {
									"type": "null"
								}
							}
						},
						"efDayConstraint": {
							"type": "string"
						},
						"efDuration": {
							"type": "string"
						},
						"efEnabled": {
							"type": "boolean"
						},
						"efNthAmount": {
							"type": "integer"
						},
						"efTime": {
							"type": "string"
						},
						"efType": {
							"type": "string"
						},
						"exclusiveTasks": {
							"type": "array"
						},
						"executionRestriction": {
							"type": "string"
						},
						"holdResources": {
							"type": "boolean"
						},
						"lfDayConstraint": {
							"type": "string"
						},
						"lfDuration": {
							"type": "string"
						},
						"lfEnabled": {
							"type": "boolean"
						},
						"lfNthAmount": {
							"type": "integer"
						},
						"lfTime": {
							"type": "string"
						},
						"lfType": {
							"type": "string"
						},
						"lsDayConstraint": {
							"type": "string"
						},
						"lsDuration": {
							"type": "string"
						},
						"lsEnabled": {
							"type": "boolean"
						},
						"lsNthAmount": {
							"type": "integer"
						},
						"lsTime": {
							"type": "string"
						},
						"lsType": {
							"type": "string"
						},
						"notes": {
							"type": "array"
						},
						"opswiseGroups": {
							"type": "array"
						},
						"resPriority": {
							"type": "integer"
						},
						"resolveNameImmediately": {
							"type": "boolean"
						},
						"restrictionPeriod": {
							"type": "string"
						},
						"restrictionPeriodAfterDate": {
							"type": "null"
						},
						"restrictionPeriodAfterTime": {
							"type": "null"
						},
						"restrictionPeriodBeforeDate": {
							"type": "null"
						},
						"restrictionPeriodBeforeTime": {
							"type": "null"
						},
						"restrictionPeriodDateList": {
							"type": "array"
						},
						"retainSysIds": {
							"type": "boolean"
						},
						"sleepAmount": {
							"type": "string"
						},
						"sleepDayConstraint": {
							"type": "string"
						},
						"sleepDuration": {
							"type": "string"
						},
						"sleepTime": {
							"type": "string"
						},
						"sleepType": {
							"type": "string"
						},
						"startHeld": {
							"type": "boolean"
						},
						"startHeldReason": {
							"type": "null"
						},
						"summary": {
							"type": "string"
						},
						"timeZonePref": {
							"type": "string"
						},
						"userEstimatedDuration": {
							"type": "null"
						},
						"variables": {
							"type": "array"
						},
						"virtualResources": {
							"type": "array"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_Task_Properties_Tmp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UacDevopsBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "TaskProperties",
						"container": "uacdevops"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"description": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"sysId": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"version": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_Get_Task_Definitions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UacRestService2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "opswise/resources/task/list"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/UacRestService2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_Get_Task_Properties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UacRestService2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TaskName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "opswise/resources/task?taskname=@{dataset().TaskName}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/UacRestService2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "http://uacdevops2ip.westeurope.cloudapp.azure.com:8080",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "ops.admin",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UacRestService2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "http://uacdevops2ip.westeurope.cloudapp.azure.com:8080",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "ops.admin",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://devopsuacKC.vault.azure.net/"
				}
			},
			"dependsOn": []
		}
	]
}